*{
    padding: 0;
    margin: 0;
}

#parrafos p{
    font-size: 0px;
}

#parrafos p{
    z-index: 1;
}




.seccion-oscura {
    color: white;
    /*background-color: #1b1b32;*/
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.contacto .rectangulo {
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}
.contacto button {
    padding: 1em 1em;
    margin: 10px;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1em 1em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}
.seccion-titulo {
    font-size: 1.5rem;
    padding: 15px 0;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
}
.contacto .descripcion {
    color: white;
    font-size: 1rem;
}

.testimonio-imagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

#cartas:hover{
    background-color: black;
}